.modal__container {
  /* position: absolute; */
  /* width: 85%; */
  width: 78vw;
  position: absolute;
  top: -500px;
  background-color: white;
  border-radius: 12px;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  transition: all 0.5s;
}

.enabled {
  top: 120px;
}

.modal__container--btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-style: solid;
  color: blue;
  margin-bottom: 12px;
}

.btn__close {
  width: 35px;
  height: 35px;
}

.modal__container--info {
  border-style: solid;
  color: green;
  width: 80%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.modal__container--btn2 {
  width: 100%;
  display: flex;
  justify-content: center;
  border-style: solid;
  color: red;
}

.btn__close2 {
  width: 110px;
  height: 35px;
}

.info__carousel {
  width: 90%;
  height: 300px;
  border-style: solid;
  color: purple;
}
