.modal__container {
  width: 50vw;
  height: 50vh;
  background-color: white;
  border-radius: 12px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
}
