<div class="modal__container" [ngClass]="modalSwitch">
  <button class="modal__container--btn" (click)="closeModal()">
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>

  <div class="modal__container--info">
    <h1 class="info__title">{{modalData.titleProyect + ' - ' + modalData.year}}</h1>
    <carousel class="carousel"></carousel>
    <div class="info__skills">
      <span class="info__skills--item" *ngFor="let skillsList of modalData.skills">
        <span class="item__icon">
          <fa-icon [icon]="skillsList.logo" [ngClass]="skillsList.class" *ngIf="skillsList.logo != null"></fa-icon>
          <img src="{{skillsList.logoRoute}}" alt="{{skillsList.name}}" *ngIf="skillsList.logoRoute != null"
            [ngClass]="skillsList.class">
        </span>
        <span class="item__desc">{{skillsList.name}}</span>
      </span>
    </div>
    <span class="info__description">{{modalData.descriptionProyect}}</span>
    <a href="{{modalData.urlProyect}}" class="info__btn" title="Ver demo" target="_blank">
      Ver demo
    </a>
  </div>

</div>
