<div class="modal__container" [ngClass]="modalSwitch">

  <!--Temporalmente esta seteada la clase enabled para trabajar en modal activo -->
  <!-- <div class="modal__container enabled" [ngClass]="modalSwitch"> -->
  <!--Temporalmente esta seteada la clase enabled para trabajar en modal activo -->
  <div class="modal__container--btn">
    <button class="btn__close" (click)="closeModal()">X</button>
  </div>

  <div class="modal__container--info">
    <h1 class="info__title">Titulo del Modal</h1>
    <span class="info__carousel">Imagenes de Carousel</span>
    <span class="info__skills">Listado de Skills</span>
    <button class="info__btn">Abrir proyecto</button>
    <span class="info__description">Descripcion de Proyecto</span>
  </div>
  <!-- <div class="modal__body">
    <h1>Titulo del Modal</h1>
    <span>Imagenes de Carousel</span>
    <span>Listado de Skills</span>
    <button>Abrir proyecto</button>
    <span>Descripcion de Proyecto</span>
  </div> -->
  <div class="modal__container--btn2">
    <button class="btn__close2" (click)="closeModal()">Cerrar Modal</button>
  </div>

</div>
