<div class="modal__container" [ngClass]="modalSwitch">

  <!--Temporalmente esta seteada la clase enabled para trabajar en modal activo -->
  <!-- <div class="modal__container enabled" [ngClass]="modalSwitch"> -->
  <!--Temporalmente esta seteada la clase enabled para trabajar en modal activo -->
  <button class="modal__container--btn" (click)="closeModal()">
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>

  <div class="modal__container--info">
    <h1 class="info__title">{{modalTitle.titleProyect}}</h1>
    <carousel class="carousel"></carousel>
    <!-- <span class="info__skills">Lista de Skills</span>
    <button class="info__btn">Ver demo</button>
    <span class="info__description">Página web realizada con HTML5 y CSS3 en el curso de Frontend developer de Platzi
      con vistas de buscador de videos, carrusel de videos, login y registro de usuarios. Además con aprendizaje en el
      tema de maquetación web con Flexbox y CSS Grid.</span> -->
  </div>

  <!-- <button class="modal__container--btn2" (click)="closeModal()">Cerrar Modal</button> -->

</div>
