.header__logo {
  font-size: 28px;
  font-weight: bold;

  text-decoration: none;
}

.header__logo--icon {
  font-size: 32px;

  color: var(--icon-color);
}

.header__button {
  font-size: 16px;

  padding: 6px 8px;

  cursor: pointer;

  color: var(--text-color);
  border-style: solid;
  border-color: var(--text-color);
  border-radius: 10px;
  background: none;
}
