/* Start Media Queries Screens 1024px */
.header__logo {
  font-size: 28px;
  font-weight: 900;

  margin-left: 8px;

  text-decoration: none;

  color: var(--text-color);
}

.header__logo--icon {
  font-size: 32px;

  color: var(--icon-color);
}

.header__button {
  font-size: 20px;

  display: flex;

  width: 40px;
  height: 40px;
  margin-right: 8px;

  cursor: pointer;

  color: var(--text-color);
  border-style: solid;
  border-color: var(--text-color);
  border-radius: 8px;
  background: none;

  justify-content: center;
  align-items: center;
}

span {
  font-size: 16px;
}

.header__sidenav {
  display: none;

  width: 100%;

  background-color: var(--sidenav-color);

  justify-content: flex-start;
  align-items: flex-start;
}
/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo {
    font-size: 26px;
  }

  .header__logo--icon {
    font-size: 30px;
  }

  .header__button {
    font-size: 18px;

    width: 37px;
    height: 37px;

    border-radius: 7px;
  }

  span {
    font-size: 14px;
  }

  .header__sidenav {
    display: none;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .header__logo {
    font-size: 24px;
  }

  .header__logo--icon {
    font-size: 28px;
  }

  .header__button {
    font-size: 16px;

    width: 34px;
    height: 34px;

    border-radius: 6px;
  }

  span {
    font-size: 12px;
  }

  .header__sidenav {
    display: flex;

    min-height: 200px;
    margin-top: 15px;
  }
}
/* End Media Queries Screens 767px */
