/* Start Media Queries Screens 1024px */
.main__content--skills {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 78vw;
  padding: 12px 0;
}

.skills__title {
  font-size: 26px;

  width: fit-content;
  margin-bottom: 15px;
  padding: 12px;

  border-radius: 12px;
  background-color: var(--title-color);
  box-shadow: var(--home-box-shadow);
}

.skills__type {
  display: flex;
  flex-direction: row;

  margin-bottom: 12px;

  align-items: center;
}

.skills__type--subk {
  display: flex;
  flex-direction: column;

  min-width: 150px;
  height: 150px;
  margin-bottom: 0;

  border-radius: 12px;
  background-color: var(--services-sub-color);
  box-shadow: var(--home-box-shadow);

  justify-content: center;
  align-items: center;
}

.subk__icon {
  width: 55px;
  height: 55px;
}

.subk__name {
  font-size: 26px;
  font-weight: 900;

  color: var(--line-color);
}

.skills__dev--list {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin-left: 12px;

  border-radius: 12px;
  background-color: var(--services-list-color);
  box-shadow: var(--home-box-shadow);

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.list__skills {
  display: flex;
  flex-direction: row;

  margin: 12px 18px;

  list-style: none;

  align-items: center;
  justify-content: center;
}

.list__skills--item {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.item__icon {
  font-size: 70px;

  display: flex;

  width: 95px;
  height: 95px;

  border-radius: 12px;
  background-color: var(--skills-bg);

  justify-content: center;
  align-items: center;
}

.item__img {
  font-size: 12px;

  width: 60px;
  height: 60px;

  pointer-events: none;

  color: var(--line-color);
}

.item__desc {
  font-size: 16px;
}

/*Start Dinamic Class*/
.bottom-yes {
  margin-bottom: 20px;
}

.html5 {
  color: var(--html5-color);
}

.css3 {
  color: var(--css3-color);
}

.sass {
  font-size: 67px;

  color: var(--sass-color);
}

.bootstrap {
  font-size: 67px;

  color: var(--bootstrap-color);
}

.javascript {
  font-size: 67px;

  color: var(--javascript-color);
}

.angular {
  color: var(--angular-color);
}

.vuejs {
  color: var(--vuejs-color);
}

.react {
  color: var(--react-color);
}

.git {
  color: var(--git-color);
}

.nodejs {
  color: var(--nodejs-color);
}

.php {
  font-size: 67px;

  color: var(--php-color);
}

.laravel {
  font-size: 67px;

  color: var(--laravel-color);
}
/*End Dinamic Class*/

/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__content--skills {
    width: 75vw;
  }

  .skills__title {
    font-size: 24px;
  }

  .skills__type {
    flex-direction: row;
  }

  .skills__type--subk {
    min-width: 145px;
    height: 145px;
    margin-bottom: 0;
  }

  .subk__icon {
    width: 50px;
    height: 50px;
  }

  .subk__name {
    font-size: 24px;
  }

  .skills__dev--list {
    margin-left: 12px;
  }

  .item__icon {
    font-size: 50px;

    width: 70px;
    height: 70px;
  }

  .item__img {
    font-size: 12px;

    width: 45px;
    height: 45px;
  }

  .item__desc {
    font-size: 14px;
  }

  /*Start Dinamic Class*/
  .sass {
    font-size: 47px;

    color: var(--sass-color);
  }

  .bootstrap {
    font-size: 47px;

    color: var(--bootstrap-color);
  }

  .javascript {
    font-size: 47px;

    color: var(--javascript-color);
  }

  .php {
    font-size: 47px;

    color: var(--php-color);
  }

  .laravel {
    font-size: 47px;

    color: var(--laravel-color);
  }
  /*End Dinamic Class*/
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .main__content--skills {
    width: 85vw;
  }

  .skills__title {
    font-size: 22px;
  }

  .skills__type {
    flex-direction: column;
  }

  .skills__type--subk {
    min-width: 140px;
    height: 140px;
    margin-bottom: 12px;
  }

  .subk__icon {
    width: 45px;
    height: 45px;
  }

  .subk__name {
    font-size: 22px;
  }

  .skills__dev--list {
    margin-left: 0;
  }

  .item__icon {
    font-size: 45px;

    width: 65px;
    height: 65px;
  }

  .item__img {
    font-size: 12px;

    width: 40px;
    height: 40px;
  }

  .item__desc {
    font-size: 12px;
  }

  /*Start Dinamic Class*/
  .sass {
    font-size: 37px;

    color: var(--sass-color);
  }

  .bootstrap {
    font-size: 37px;

    color: var(--bootstrap-color);
  }

  .javascript {
    font-size: 37px;

    color: var(--javascript-color);
  }

  .php {
    font-size: 37px;

    color: var(--php-color);
  }

  .laravel {
    font-size: 37px;

    color: var(--laravel-color);
  }
  /*End Dinamic Class*/
}
/* End Media Queries Screens 767px */
