<section class="main__content--skills">
  <h1 class="skills__title">{{title}}</h1>
  <div class="skills__type" *ngFor=" let skillsCard of skillsCards">
    <div class="skills__type--subk">
      <img class="subk__icon" src="{{skillsCard.iconCard}}" alt="{{skillsCard.titleCard}}">
      <span class="subk__name">{{skillsCard.titleCard}}</span>
    </div>
    <div class="services__dev--list">
      <span>lista</span>
    </div>
  </div>
  <navigation class="navigation" [ngStyle]="{'justify-content': 'space-between'}"></navigation>
</section>
