/* Start Media Queries Screens 1024px */
.main__content--skills {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 78vw;
  padding: 12px 0;

  border-style: solid;
}

.skills__title {
  font-size: 26px;

  width: fit-content;
  margin-bottom: 8px;
  padding: 12px;

  border-radius: 12px;
  background-color: var(--title-color);
  box-shadow: var(--home-box-shadow);
}
/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__content--skills {
    width: 75vw;
  }

  .skills__title {
    font-size: 24px;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .main__content--skills {
    width: 85vw;
  }

  .skills__title {
    font-size: 22px;
  }
}
/* End Media Queries Screens 767px */
