.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav__list {
  padding-top: 10px;
  list-style: none;
}

.sidenav__list--item {
  display: flex;

  align-items: center;
  justify-content: center;
}

.sidenav__list--item a {
  font-size: 18px;

  display: flex;

  max-width: 170px;
  min-width: 50px;
  height: 50px;
  padding: 10px;

  text-decoration: none;

  color: var(--sidenav-txt-color);

  justify-content: center;
  align-items: center;
}

.sidenav__list--item a:hover {
  transition: 0.5s;

  color: var(--txt-color);
  border-radius: 5px;
  background-color: var(--sidenav-item-background);
}

.sidenav__list--item fa-icon {
  display: flex;

  min-width: 30px;
  min-height: 30px;

  justify-content: center;
  align-items: center;
}

.sidenav__list--item p {
  width: 155px;
  padding-left: 10px;

  text-decoration: none;

  justify-content: flex-start;
  align-items: center;
}

.description-open {
  display: flex;
}

.description-closed {
  display: none;
}

/* Start Media Queries Screens 850px */
@media screen and (max-width: 850px) {
  .description-open {
    display: flex;
  }

  .description-closed {
    display: flex;
  }
}

/*
.sidenav__list {
  width: 190px;
  padding-top: 10px;
  list-style: none;
}

.sidenav__list--item {
  display: flex;

  height: 55px;

  align-items: center;
  justify-content: center;
}

.open-list {
  width: 180px;
}

.close-list {
  width: 70px;
}

.sidenav__list--item a {
  font-size: 18px;

  display: flex;

  width: 180px;
  height: 55px;
  padding: 10px;

  text-decoration: none;

  color: var(--sidenav-txt-color);

  justify-content: space-between;
  align-items: center;
}

.sidenav__list--item a:hover {
  transition: 0.5s;

  color: var(--txt-color);
  border-radius: 5px;
  background-color: var(--sidenav-item-background);
}

.sidenav__list--item fa-icon {
  display: flex;

  min-width: 30px;
  min-height: 30px;

  justify-content: center;
  align-items: center;
}

.sidenav__list--item p {
  display: flex;

  width: 150px;
  padding-left: 10px;

  text-decoration: none;

  justify-content: flex-start;
  align-items: center;
} */
