<nav class="sidenav">
  <ul class="sidenav__list">
    <li class="sidenav__list--item"><a routerLink="/about-me">
        <fa-icon [icon]="faUser"></fa-icon> Sobre mí
      </a></li>
    <li class="sidenav__list--item"><a routerLink="/services">
        <fa-icon [icon]="faCode"></fa-icon> Servicios
      </a></li>
    <li class="sidenav__list--item"><a routerLink="/skills">
        <fa-icon [icon]="faPencilAlt"></fa-icon> Habilidades
      </a></li>
    <li class="sidenav__list--item"><a routerLink="/proyects">
        <fa-icon [icon]="faBriefcase"></fa-icon> Proyecto
      </a></li>
    <li class="sidenav__list--item"><a routerLink="/contact">
        <fa-icon [icon]="faCommentAlt"></fa-icon> Contacto
      </a></li>
  </ul>
</nav>
