<ul class="main__sidenav--list">
  <li class="list__item" *ngFor="let navOption of navComponents">
    <a routerLink={{navOption.route}} class="list__item--option" title={{navOption.component}}
      [ngClass]="{'option__expanded': itemOption === 'Open', 'option__collapsed' : itemOption === 'Closed'}"
      (click)="clickRoute(navOption.route, navOption.messageRoute)">
      <fa-icon [icon]="navOption.icon" class="option__icon"></fa-icon> <span
        class="option__name">{{navOption.component}}</span>
    </a>
  </li>
</ul>
