/* Start Media Queries Screens 1024px */
.main__sidenav--list {
  margin: 0 5px;
  padding-top: 8px;

  list-style: none;
}

.list__item {
  display: flex;

  align-items: center;
  justify-content: flex-start;
}

.list__item--option {
  font-size: 18px;

  display: flex;

  height: 45px;
  padding: 10px;

  cursor: pointer;
  text-decoration: none;

  color: var(--txt-sidenav-color);

  justify-content: space-between;
  align-items: center;
}

.option__expanded {
  width: 165px;
}

.option__collapsed {
  width: 45px;
}

.list__item--option:hover {
  transition: 0.5s;

  color: var(--txt-color);
  border-radius: 5px;
  background-color: var(--bg-hover-sidenav-color);
}

.option__icon {
  display: flex;

  min-width: 25px;
  min-height: 25px;

  justify-content: center;
  align-items: center;
}

.option__name {
  min-width: 155px;
  padding-left: 15px;
}
/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__sidenav--list {
    padding-top: 8px;
  }

  .list__item--option {
    font-size: 16px;

    height: 42px;
    padding: 8px;
  }

  .option__expanded {
    width: 42px;
  }

  .option__collapsed {
    width: 160px;
  }

  .option__icon {
    min-width: 23px;
    min-height: 23px;
  }

  .option__name {
    min-width: 153px;
    padding-left: 17px;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .main__sidenav--list {
    margin: 8px 8px;
    padding-top: 60px;
  }

  .list__item--option {
    font-size: 14px;

    height: 40px;
    padding: 6px;
  }

  .option__expanded {
    width: 40px;
  }

  .option__collapsed {
    width: 145px;
  }

  .option__icon {
    min-width: 20px;
    min-height: 20px;
  }

  .option__name {
    min-width: 135px;
    padding-left: 15px;
  }
}
/* End Media Queries Screens 767px */
