.main__sidenav--list {
  /* padding-top: 80px; */
  list-style: none;
  padding: 80px 0px 5px 5px;
}

.list__item {
  display: flex;

  align-items: center;
  justify-content: flex-start;
}

.list__item--option {
  font-size: 18px;

  display: flex;

  width: 165px;
  min-width: 50px;
  height: 50px;
  padding: 10px;

  text-decoration: none;

  color: var(--txt-sidenav-color);

  justify-content: space-between;
  align-items: center;
}

.list__item--option:hover {
  transition: 0.5s;

  color: var(--txt-color);
  border-radius: 5px;
  background-color: var(--bg-hover-sidenav-color);
}
