/* Start Media Queries Screens 1024px */
.main__content--home {
  display: flex;
  flex-direction: row;

  width: 78vw;
  padding: 12px;

  border-radius: 12px;
  background-color: var(--home-color);
  box-shadow: var(--home-box-shadow);
}

.home__img {
  width: 190px;
  height: 190px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  image-rendering: pixelated;
}

.home__cover {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 0;
  margin-left: 12px;

  justify-content: center;
}

/*Start Dinamic Class*/

.home__cover--sp1 {
  font-size: 38px;
  font-weight: 700;

  padding-bottom: 5px;
}

.home__cover--sp2 {
  font-size: 30px;
  font-weight: 900;

  margin-bottom: 15px;
  padding: 5px 8px;

  text-align: right;

  background-color: var(--cover-sp3);
  text-shadow: var(--shadow-sp3);
}

.navigation__big {
  display: flex;

  width: 100%;

  justify-content: flex-end;
}

.navigation__small {
  display: none;

  width: 100%;
  margin-top: 12px;

  justify-content: flex-end;
}

/*End Dinamic Class*/

/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__content--home {
    width: 75vw;
  }

  .home__img {
    width: 180px;
    height: 180px;
  }

  .home__cover {
    margin-bottom: 0;
    margin-left: 12px;
  }

  /*Start Dinamic Class*/

  .home__cover--sp1 {
    font-size: 36px;
  }

  .home__cover--sp2 {
    font-size: 28px;

    margin-bottom: 15px;
  }

  .navigation__big {
    display: flex;
  }

  .navigation__small {
    display: none;
  }

  /*End Dinamic Class*/
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .main__content--home {
    flex-direction: column-reverse;

    width: 85vw;

    align-items: center;
  }

  .home__img {
    width: 155px;
    height: 155px;
  }

  .home__cover {
    margin-bottom: 12px;
    margin-left: 0;
  }

  /*Start Dinamic Class*/

  .home__cover--sp1 {
    font-size: 32px;
  }

  .home__cover--sp2 {
    font-size: 24px;

    margin-bottom: 0;

    text-align: center;
  }

  .navigation__big {
    display: none;
  }

  .navigation__small {
    display: flex;
  }

  /*End Dinamic Class*/
}
/* End Media Queries Screens 767px */
