/* Start Media Queries Screens 1024px */
.main__content--home {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 80vw;

  justify-content: center;
  align-items: center;
}

.home__fig {
  padding: 15px;
}

.home__fig--img {
  width: 205px;

  border-radius: 15px;

  image-rendering: pixelated;
}

.home__cover {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-right: 10px;
  padding-left: 0;

  justify-content: center;
}

/*Start Dinamic Class*/
.home__cover--sp1 {
  font-size: 28px;
  font-weight: 400;

  padding-top: 0;
  padding-bottom: 4px;
}

.home__cover--sp2 {
  font-size: 38px;
  font-weight: 700;

  padding-bottom: 8px;
}

.home__cover--sp3 {
  font-size: 30px;
  font-weight: 900;

  padding: 5px 8px;

  text-align: right;

  background-color: var(--cover-sp3);
  text-shadow: var(--shadow-sp3);
}
/*End Dinamic Class*/

/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__content--home {
    width: 78vw;
  }

  .home__fig {
    padding: 13px;
  }

  .home__fig--img {
    width: 190px;
  }

  .home__cover {
    padding-right: 10px;
    padding-left: 0;
  }

  /*Start Dinamic Class*/
  .home__cover--sp1 {
    font-size: 26px;

    padding-top: 0;
  }

  .home__cover--sp2 {
    font-size: 36px;
  }

  .home__cover--sp3 {
    font-size: 28px;

    text-align: right;
  }
  /*End Dinamic Class*/
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .main__content--home {
    flex-direction: column-reverse;

    width: 90vw;
  }

  .home__fig {
    padding: 13px;
  }

  .home__fig--img {
    width: 155px;
  }

  .home__cover {
    padding-right: 10px;
    padding-left: 10px;
  }

  /*Start Dinamic Class*/
  .home__cover--sp1 {
    font-size: 22px;

    padding-top: 10px;
  }

  .home__cover--sp2 {
    font-size: 32px;
  }

  .home__cover--sp3 {
    font-size: 24px;

    text-align: center;
  }
  /*End Dinamic Class*/
}
/* End Media Queries Screens 767px */
