/* Start Media Queries Screens 1024px */
.main__content--services {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 75vw;
  margin: 5px 10px 5px 10px;
  padding: 10px;

  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--border-card);
  background-color: var(--background-card);
}

.services__title {
  font-size: 28px;
  font-weight: 900;

  padding-bottom: 10px;
}

.services__dev {
  display: flex;
  flex-direction: row;
  position: relative;
}

.services__dev--subtitle {
  border-style: solid;
  width: 160px;
  height: 160px;
  margin: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.services__dev--subtitle::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";

  opacity: 0.7;
  border-radius: 12px;
  background-color: #eee;
}

.subtitle__icon {
  font-size: 50px;
  color: #2f86a6;
  position: relative;
}

.subtitle__name {
  font-size: 26px;
  font-weight: 700;

  color: black;
  position: relative;
}

.services__dev--list {
  border-style: solid;
  width: 800px;
  height: 150px;
}

/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__content--services {
    width: 75vw;
  }

  .services__title {
    font-size: 26px;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .main__content--services {
    width: 85vw;
  }

  .services__title {
    font-size: 24px;
  }
}
/* End Media Queries Screens 767px */
