<section class="main__content--services">
  <h1 class="services__title">{{title}}</h1>
  <div class="services__dev" *ngFor=" let servicesCard of servicesCards">
    <div class="services__dev--subtitle">
      <fa-icon [icon]="servicesCard.iconCard" class="subtitle__icon"></fa-icon>
      <span class="subtitle__name">{{servicesCard.titleCard}}</span>
    </div>
    <div class="services__dev--list">{{servicesCard.listCard}}</div>
  </div>
</section>

<navigation class="navigation" [ngStyle]="{'justify-content': 'space-between'}"></navigation>
