/* Start Media Queries Screens 1024px */
.main__content--services {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 78vw;
  padding: 12px 0;
}

.services__title {
  font-size: 26px;

  width: fit-content;
  margin-bottom: 15px;
  padding: 12px;

  border-radius: 12px;
  background-color: var(--title-color);
  box-shadow: var(--home-box-shadow);
}

.services__dev {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.services__dev--sub {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  min-width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: var(--services-sub-color);
  margin-bottom: 0px;
}

.sub__icon {
  font-size: 46px;
  color: var(--services-icon-color);
}

.sub__name {
  font-size: 26px;
  font-weight: 900;
  color: var(--line-color);
}

.services__dev--list {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  list-style-type: disc;
  background-color: var(--services-list-color);
  border-radius: 12px;
  padding: 12px;
  margin-left: 12px;
  width: 100%;
}

.list__services--item {
  font-size: 16px;
  padding: 2px 0;
}

/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__content--services {
    width: 75vw;
  }

  .services__title {
    font-size: 24px;
  }

  .services__dev {
    flex-direction: row;
  }

  .services__dev--sub {
    min-width: 145px;
    height: 145px;
    margin-bottom: 0px;
  }

  .sub__icon {
    font-size: 44px;
  }

  .sub__name {
    font-size: 24px;
  }

  .services__dev--list {
    margin-left: 8px;
  }

  .list__services--item {
    font-size: 14px;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .main__content--services {
    width: 85vw;
  }

  .services__title {
    font-size: 22px;
  }

  .services__dev {
    flex-direction: column;
  }

  .services__dev--sub {
    min-width: 140px;
    height: 140px;
    margin-bottom: 12px;
  }

  .sub__icon {
    font-size: 42px;
  }

  .sub__name {
    font-size: 22px;
  }

  .services__dev--list {
    margin-left: 0px;
  }

  .list__services--item {
    font-size: 12px;
  }
}
/* End Media Queries Screens 767px */
