.app-header {
  width: var(--width-component);
  height: 75px;
  background-color: var(--header-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding);
}

.app-main {
  width: var(--width-component);
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.footer {
  width: var(--width-component);
  height: 75px;
  background-color: var(--header-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Start Media Queries Screens 850px */
@media screen and (max-width: 850px) {
  .app-main {
    flex-direction: column;
  }

  .app-header {
    position: absolute;
  }
}
