.header {
  display: flex;

  width: inherit;
  height: 75px;
  padding: 0 8px;

  background-color: var(--bg-header-color);

  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;

  width: inherit;
  height: 100vh;

  border-style: solid;
  border-color: var(--line-color);
  background-color: var(--bg-main-color);

  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;

  width: inherit;
  height: 75px;

  background-color: var(--bg-footer-color);

  justify-content: center;
  align-items: center;
}
