/* Start Media Queries Screens 1024px */
.maintenance {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.maintenance fa-icon {
  font-size: 24px;

  color: orange;
}

.maintenance span {
  font-size: 16px;

  margin-left: 5px;
}
/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .maintenance fa-icon {
    font-size: 22px;
  }

  .maintenance span {
    font-size: 14px;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .maintenance fa-icon {
    font-size: 20px;
  }

  .maintenance span {
    font-size: 12px;
  }
}
/* End Media Queries Screens 767px */
