.main__content--home {
  display: flex;
  flex-direction: row;
  border-style: solid;
  min-width: 1000px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.home__figure {
  border-radius: 10px;
}

.home__cover {
  width: 100%;
}

.home__figure--img {
  height: 205px;
  margin: 10px;
  image-rendering: pixelated;
  border-radius: 15px;
}

.home__cover--p {
  border-style: solid;
  margin: 5px;
}
