<div class="carousel__card">
  <div class="carousel__buttons">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
  </div>
  <div class="carousel__slides">
    <span class="carousel__slides--item" style="background-color: darkblue">1</span>
    <span class="carousel__slides--item" style="background-color: yellow">2</span>
    <span class="carousel__slides--item" style="background-color: brown">3</span>
    <span class="carousel__slides--item" style="background-color: green">4</span>
    <span class="carousel__slides--item" style="background-color: red">5</span>
  </div>
</div>
