/* Start Media Queries Screens 1024px */
.carousel__card {
  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.carousel__slides {
  display: flex;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;

  width: 700px;
  height: 330px;
  margin-bottom: 8px;

  align-items: flex-start;
  justify-content: flex-start;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel__slides--item {
  display: flex;
  flex-direction: column;

  min-width: 700px;
  min-height: 330px;

  justify-content: center;
  align-items: center;
}

.item__img {
  width: 700px;
  height: 330px;
}

.carousel__numbers {
  font-size: 16px;
  font-weight: bold;

  position: absolute;
  top: 10px;
  right: 0;

  display: flex;

  width: 50px;
  height: 35px;

  color: white;
  border-radius: 10px;
  background-color: var(--numbers-color);

  align-items: center;
  justify-content: center;
}

.carousel__arrow {
  font-size: 24px;
  font-weight: bold;

  display: flex;

  width: 25px;
  height: 45px;

  cursor: pointer;
  transition: 0.35s;

  color: white;
  border-style: none;
  border-radius: 5px;
  background-color: var(--arrows-color);

  align-items: center;
  justify-content: center;
}

.left {
  position: absolute;
  top: 130px;
  left: 0;
}

.right {
  position: absolute;
  top: 130px;
  right: 0;
}

.carousel__arrow:hover {
  background-color: var(--arrows-color2);
}

.carousel__description {
  font-size: 18px;
  font-weight: bold;

  position: absolute;
  bottom: 35px;

  display: flex;

  width: 700px;
  height: 35px;

  color: var(--text-color);
  background-color: var(--caption-color);

  align-items: center;
  justify-content: center;
}

.carousel__dots {
  display: flex;

  width: 130px;

  justify-content: space-between;
}

.carousel__dots--btn {
  width: 18px;
  height: 18px;

  cursor: pointer;

  border-style: none;
  border-radius: 50%;
  background-color: var(--dots-color);
}

/*Start Dinamic Class*/
.active-dot {
  background-color: var(--dots-color2);
}
/*End Dinamic Class*/
/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel__slides {
    width: 550px;
    height: 270px;
  }

  .carousel__slides--item {
    min-width: 550px;
    min-height: 270px;
  }

  .item__img {
    width: 550px;
    height: 270px;
  }

  .carousel__numbers {
    font-size: 14px;

    top: 8px;

    width: 45px;
    height: 30px;

    border-radius: 8px;
  }

  .carousel__arrow {
    font-size: 22px;

    width: 23px;
    height: 43px;
  }

  .left {
    top: 105px;
  }

  .right {
    top: 105px;
  }

  .carousel__description {
    font-size: 16px;

    width: 550px;
    height: 33px;
  }

  .carousel__dots {
    width: 125px;
  }

  .carousel__dots--btn {
    width: 16px;
    height: 16px;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .carousel__slides {
    width: 400px;
    height: 220px;
  }

  .carousel__slides--item {
    min-width: 400px;
    min-height: 220px;
  }

  .item__img {
    width: 400px;
    height: 220px;
  }

  .carousel__numbers {
    font-size: 12px;

    top: 6px;

    width: 40px;
    height: 25px;

    border-radius: 6px;
  }

  .carousel__arrow {
    font-size: 20px;

    width: 21px;
    height: 41px;
  }

  .left {
    top: 80px;
  }

  .right {
    top: 80px;
  }

  .carousel__description {
    font-size: 14px;

    width: 400px;
    height: 31px;
  }

  .carousel__dots {
    width: 120px;
  }

  .carousel__dots--btn {
    width: 14px;
    height: 14px;
  }
}
/* End Media Queries Screens 767px */
