.carousel__card {
  /* border-style: solid; */
  color: red;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__slides {
  width: 700px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  /* border-style: solid; */
  color: white;
  justify-content: flex-start;
  margin-bottom: 8px;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.scroll__margin {
  scroll-padding-left: 20px;
}

.carousel__slides--item {
  min-width: 700px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.carousel__numbers {
  width: 700px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 12px;
  /* border-style: solid; */
  color: green;
}

.carousel__numbers--slide {
  background-color: black;
  color: white;
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 12px;
}

.carousel__arrows {
  width: 700px;
  /* border-style: solid; */
  display: flex;
  flex-direction: row;
  align-items: space-between;
  position: absolute;
  top: 130px;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: space-between;
}

.right {
  justify-content: flex-end;
}

.carousel__arrows--btn {
  width: 25px;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__dots {
  display: flex;
  /* border-style: solid; */
  justify-content: space-between;
  color: white;
  width: 130px;
}

.carousel__dots--btn {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #9d9d9d;
  cursor: pointer;
  border-style: none;
}

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel__slides {
    overflow-x: visible;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .carousel__slides {
    overflow-x: visible;
  }
}
/* End Media Queries Screens 767px */
