.carousel__card {
  border-style: solid;
  color: red;
  position: relative;
  width: 78vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__slides {
  width: 700px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  border-style: solid;
  color: white;
  justify-content: flex-start;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.carousel__slides--item {
  min-width: 700px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidenext {
  margin-left: -700px;
  margin-right: 0px;
  transition: 1.2s;
}

.slideback {
  margin-left: 0px;
  margin-right: 700px;
  transition: 1.2s;
}

.carousel__arrows {
  width: 700px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  position: absolute;
  top: 42%;
}

.carousel__arrows--btn {
  width: 35px;
  height: 35px;
}
