<div class="carousel__card">
  <div class="carousel__slides">
    <span class="carousel__slides--item" *ngFor=" let carouselSlide of carouselSlides"
      [ngStyle]="{'background-color': carouselSlide.carouselBackground }"
      [ngClass]="carouselSlide.carouselClass">{{carouselSlide.carouselImg}}</span>
    <!-- <span class="carousel__slides--item" style="background-color: darkblue">1</span>
    <span class="carousel__slides--item active" style="background-color: rgb(138, 138, 16)">2</span>
    <span class="carousel__slides--item" style="background-color: brown">3</span>
    <span class="carousel__slides--item" style="background-color: green">4</span>
    <span class="carousel__slides--item" style="background-color: red">5</span> -->
  </div>
  <span>{{clickSum}}</span>

  <div class="carousel__arrows">
    <button class="carousel__arrows--btn" (click)="backSlide(1)" [disabled]="clickSum <= 1">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
    <button class="carousel__arrows--btn" (click)="nextSlide(1)" [disabled]="clickSum >= 5">
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
  </div>
</div>
