/* Start Media Queries Screens 1024px */
.main__content--proyects {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 78vw;
  padding: 12px 0;

  /* border-style: solid; */
}

.proyects__title {
  font-size: 26px;

  width: fit-content;
  margin-bottom: 12px;
  padding: 12px;

  border-radius: 12px;
  background-color: var(--title-color);
  box-shadow: var(--home-box-shadow);
}

.proyects__card {
  /* border-style: solid; */
  display: grid;
  /* grid-template-columns: 250px 250px 250px; */
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.columns1 {
  grid-template-columns: 31.5%;
}

.columns2 {
  grid-template-columns: 31.5% 31.5%;
}

.columns3 {
  grid-template-columns: 31.5% 31.5% 31.5%;
}

.proyects__card--item {
  border-radius: 12px;
  /* border-style: solid; */
  height: 265px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-proyects);
  padding: 10px;
  box-shadow: var(--home-box-shadow);
}

.item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  color: var(--dots-color2);
  border-width: 3.5px;
  width: 100%;
  min-height: 160px;
  margin-bottom: 10px;
}

.item__title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.item__button {
  background-color: #01937c;
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 105px;
  min-height: 35px;
  border-style: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 1024px and 1100px */
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .columns1 {
    grid-template-columns: 40%;
  }

  .columns2 {
    grid-template-columns: 40% 40%;
  }

  .columns3 {
    grid-template-columns: 40% 40%;
  }
}

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__content--proyects {
    width: 75vw;
  }

  .proyects__title {
    font-size: 24px;
  }

  /* .proyects__card {
    grid-template-columns: 250px 250px;
  } */

  .columns1 {
    grid-template-columns: 46.5%;
  }

  .columns2 {
    grid-template-columns: 46.5% 46.5%;
  }

  .columns3 {
    grid-template-columns: 46.5% 46.5%;
  }

  .proyects__card--item {
    height: 260px;
  }

  .item__img {
    min-height: 145px;
  }

  .item__title {
    font-size: 19px;
  }

  .item__button {
    font-size: 13px;
    width: 98px;
    min-height: 33px;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .main__content--proyects {
    width: 85vw;
  }

  .proyects__title {
    font-size: 22px;
  }

  /* .proyects__card {
    grid-template-columns: 250px;
  } */

  .columns1 {
    grid-template-columns: 100%;
  }

  .columns2 {
    grid-template-columns: 100%;
  }

  .columns3 {
    grid-template-columns: 100%;
  }

  .proyects__card--item {
    height: 280px;
  }

  .item__img {
    min-height: 173px;
  }

  .item__title {
    font-size: 18px;
  }

  .item__button {
    font-size: 12px;
    width: 90px;
    min-height: 31px;
  }
}
