<section class="main__content--proyects">
  <h1 class="proyects__title">{{title}}</h1>
  <div class="proyects__card" [ngClass]="proyectsClass">
    <div class="proyects__card--item" *ngFor=" let proyectsCard of proyectsCards">
      <span class="item__img">{{proyectsCard.coverProyect}}</span>
      <button class="item__button" (click)="openModal()">{{proyectsCard.titleButton}}</button>
    </div>
  </div>
  <navigation class="navigation" [ngStyle]="{'justify-content': 'space-between'}"></navigation>
</section>
