/* Start Media Queries Screens 1024px */
.main__content--proyects {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 78vw;
  padding: 12px 0;
}

.proyects__title {
  font-size: 26px;

  width: fit-content;
  margin-bottom: 12px;
  padding: 12px;

  border-radius: 12px;
  background-color: var(--title-color);
  box-shadow: var(--home-box-shadow);
}

.proyects__card {
  display: grid;

  margin-bottom: 12px;

  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.columns1 {
  grid-template-columns: 31.5%;
}

.columns2 {
  grid-template-columns: 31.5% 31.5%;
}

.columns3 {
  grid-template-columns: 31.5% 31.5% 31.5%;
}

.proyects__card--item {
  display: flex;
  flex-direction: column;

  height: 265px;
  padding: 10px;

  border-radius: 12px;
  background-color: var(--bg-proyects);
  box-shadow: var(--home-box-shadow);

  align-items: center;
  justify-content: center;
}

.item__img {
  display: flex;

  width: 100%;
  min-height: 155px;
  margin-bottom: 10px;

  pointer-events: none;

  border: 2px solid var(--border-img);

  justify-content: center;
  align-items: center;
}

.item__title {
  font-size: 20px;
  font-weight: bold;

  margin-bottom: 12px;

  color: var(--line-color);
}

.item__button {
  font-size: 14px;
  font-weight: bold;

  display: flex;

  width: 105px;
  min-height: 35px;

  cursor: pointer;

  color: var(--text-color);
  border-style: none;
  border-radius: 5px;
  background-color: var(--btn-proyect);

  align-items: center;
  justify-content: center;
}

.item__button:hover {
  transition: 0.5s;

  background-color: var(--btn-proyecth);
}

/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 1024px and 1100px */
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .columns1 {
    grid-template-columns: 40%;
  }

  .columns2 {
    grid-template-columns: 40% 40%;
  }

  .columns3 {
    grid-template-columns: 40% 40%;
  }
}

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__content--proyects {
    width: 75vw;
  }

  .proyects__title {
    font-size: 24px;
  }

  .columns1 {
    grid-template-columns: 46.5%;
  }

  .columns2 {
    grid-template-columns: 46.5% 46.5%;
  }

  .columns3 {
    grid-template-columns: 46.5% 46.5%;
  }

  .proyects__card--item {
    height: 260px;
  }

  .item__img {
    min-height: 145px;
  }

  .item__title {
    font-size: 19px;
  }

  .item__button {
    font-size: 13px;

    width: 98px;
    min-height: 33px;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .main__content--proyects {
    width: 85vw;
  }

  .proyects__title {
    font-size: 22px;
  }

  .columns1 {
    grid-template-columns: 100%;
  }

  .columns2 {
    grid-template-columns: 100%;
  }

  .columns3 {
    grid-template-columns: 100%;
  }

  .proyects__card--item {
    height: 280px;
  }

  .item__img {
    min-height: 170px;
  }

  .item__title {
    font-size: 18px;
  }

  .item__button {
    font-size: 12px;

    width: 90px;
    min-height: 31px;
  }
}
