/* Start Media Queries Screens 1024px */
.main__sidenav {
  width: 205px;
  height: 100vh;
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;

  background-color: var(--bg-sidenav-color);
}

.main__sidenav--open {
  margin-right: 0px;
  /* transition: all 0.3s; */
}

.main__sidenav--closed {
  margin-right: -142px;
  /* transition: all 0.3s; */
}

.main__content {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-main-content-color);
}
/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__sidenav--open {
    margin-right: -142px;
    margin-top: 0px;
    /* transition: all 0.3s; */
  }

  .main__sidenav--closed {
    margin-right: 0px;
    margin-top: 0px;
    /* transition: all 0.3s; */
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .main__sidenav {
    width: 100%;
    height: 350px;
  }

  .main__sidenav--open {
    margin-right: 0px;
    margin-top: -260px;
    /* transition: all 0.3s; */
  }

  .main__sidenav--closed {
    margin-right: 0px;
    margin-top: 0px;
    /* transition: all 0.3s; */
  }
}
/* End Media Queries Screens 767px */
