/* Start Media Queries Screens 1024px */
.main__sidenav {
  display: flex;

  width: 205px;
  height: inherit;

  background-color: var(--sidenav-color);

  justify-content: flex-start;
  align-items: flex-start;
}

.main__sidenav--open {
  margin-right: 0;
}

.main__sidenav--closed {
  margin-right: -142px;
}

.main__content {
  position: relative;

  display: flex;

  width: 100%;
  height: inherit;

  background-color: var(--mcontent-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  justify-content: center;
  align-items: center;
}

.main__content::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";

  background-color: var(--before-mcontent);
}

/* Start Dinamic background component Class */

.bg-home {
  background-color: #a2b5bb;
  /* background-image: url("../../../assets/images/backgrounds/bg_home_component.jpg"); */
}

.bg-about-me {
  background-color: #a2b5bb;
  /* background-image: url("../../../assets/images/backgrounds/bg_about_me_component.jpg"); */
}

.bg-services {
  background-color: #a2b5bb;
  /* background-image: url("../../../assets/images/backgrounds/bg_services_component.jpg"); */
}

.bg-skills {
  background-color: #3ab4f2;
}

.bg-proyects {
  background-color: #c32bad;
}

.bg-contact {
  background-color: #ff5da2;
}
/* End Dinamic background component Class */

/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__sidenav--open {
    margin-top: 0;
    margin-right: -142px;
  }

  .main__sidenav--closed {
    margin-top: 0;
    margin-right: 0;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .main__sidenav {
    width: 100%;
    height: 350px;
  }

  .main__sidenav--open {
    margin-top: -265px;
    margin-right: 0;
  }

  .main__sidenav--closed {
    margin-top: 0;
    margin-right: 0;
  }
}
/* End Media Queries Screens 767px */
