.app-sidenav {
  font-size: 20px;
  font-weight: bold;

  display: flex;

  width: 200px;
  height: inherit;

  justify-content: center;
  align-items: flex-start;

  background-color: var(--sidenav-color);
}

.red {
  margin-left: 0px;
  transition: all 0.3s;
}

.green {
  margin-left: -200px;
  transition: all 0.3s;
}

.main__content {
  width: var(--component-width);
  border-style: solid;
}
