/* You can add global styles to this file, and also import other style files */
:root {
  /*Colors*/
  --text-color: white;
  --line-color: black;
  --bg-header-color: #035397;
  --bg-main-content-color: #206a5d;
  --bg-sidenav-color: #152d35;
  --bg-footer-color: #035397;
  --icon-color: #3ec70b;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a:focus-visible {
  border-style: solid;
  border-color: #0021da;
  outline: none;
}

.body {
  font-family: "Roboto", sans-serif;

  width: 100%;
  color: var(--text-color);
}
