/* You can add global styles to this file, and also import other style files */
:root {
  /*Colors*/
  --text-color: white;
  --line-color: black;
  --bg-header-color: #035397;
  --bg-sidenav-color: #152d35;
  --bg-footer-color: #035397;
  --icon-color: #a2b5bb;
  --txt-sidenav-color: #b2b1b9;
  --bg-hover-sidenav-color: #0061a8;

  --bg-cover-sp3: #63b603;
  --shadow-sp3: 2px 2px 4px #ddd;

  --bg-before-mcontent: rgba(0, 0, 0, 0.65);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:focus-visible {
  border-style: solid;
  border-color: #0021da;
  outline: none;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.body {
  font-family: "Roboto", sans-serif;

  width: 100%;

  color: var(--text-color);
}
